.itemDefault{
    background-color: white;
    border: none;
}
.itemContainer{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.button{
    margin-left: 1rem;
    margin-right: 1rem;
}
.completedItem{
    text-decoration: line-through;
    text-decoration-color: blue;
}